html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

@font-face {
  font-family: Mont-Regular;
  src: url(.././public/fonts/Mont-Regular.otf);
}

.mont-regular {
  font-family: Mont-Regular;
}

@font-face {
  font-family: Mont-Bold;
  src: url(.././public/fonts/Mont-Bold.otf);
}

.mont-bold {
  font-family: Mont-Bold;
}

@font-face {
  font-family: Mont-Semibold;
  src: url(.././public/fonts/Mont-SemiBold.otf);
}

.mont-semibold {
  font-family: Mont-Semibold;
}
